
/* header*/

.front-image{
    text-align: center;
 

}

/* carousel-section*/
 
.carousel-container{
    margin-top: 35px;
}

.main-message{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
    
