

/*logo-image*/

.logo{
    margin-top: 35px;
}

/*navbar*/

.top-margin{
    margin-top: 25px;
}

a{ margin-left: 0;
    margin-right:50px;
    font-size: medium;
    
}

.no-padding{
    padding:0;
    
}


.fit-size{
    
    height: 550px;
}

@media only screen and (max-width:576px){
    .fit-size{
        height:auto;
    }
}
 




